@use './base';

body {
    background-color: base.$background-page;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 5%;


}

.sections {
    max-width: 60%;

    .section {

        @include base.section;
        max-width: 85%;
    }

    .section {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.section_paragraph {
    max-width: 65%;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.05rem dashed #000;

    ul.truncate-ellipsis {
        @include base.truncateHeader;

        li.iconRed {
            @include base.headerIcon;
            color: map-get(base.$headerIcon, red);
        }

        li.iconBlue {
            @include base.headerIcon;
            color: map-get(base.$headerIcon, blue);
        }
    }

    .label {
        @include base.label;
    }
}

.text_paragraph {
    @include base.fontParagraph;

    a.paragraphRed {
        color: map-get(base.$link, red);
    }

    a.paragraphBlue {
        color: map-get(base.$link, blue);
    }
}

.socialBar {
    list-style: none;
    display: flex;
    gap: 1.1rem;
    padding: 0;

    li {
        @include base.socialBar_icon;

        &:nth-child(3)::after {
            @include base.barIcon;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;

            svg {
                width: 1.4rem;
            }
        }

        &:hover svg {
            fill: base.$fontColorSecundary;
        }
    }

    li.grayIcon {
        background-color: base.$white;
        border: 0;
    }
}

@include base.breakPoint(701px) {
    .container {
        padding: 2rem;
    }

    .sections_img {
        display: none;
    }

    .sections {
        .section {
            flex-direction: column;
        }
    }

    .section_paragraph {
        max-width: 100%;
    }

    .section_img {
        img {
            width: 100%;

        }
    }
}